@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --ccbs-green: #74BBAA;
  --ccbs-green: #53c0a7;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-ccbs-green: var(--ccbs-green);
  --color-ccbs-gray-800:#28323C;
  --color-ccbs-gray-700:#374553;
  --color-ccbs-gray-600:#646F7C;
  --color-ccbs-gray-500:#ACB4BB;
  --color-ccbs-gray-400:#C5C8CE;
  --color-ccbs-gray-300:#D0D6DB;
  --color-ccbs-gray-200:#E9EBEE;
  --color-ccbs-gray-100:#F1F2F4;
  --color-ccbs-gray-0:#F7F8F9;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
button{
  @apply cursor-pointer
}
